body{
    text-align: center;
    background-color: rgb(255, 194, 188);
}
#principal{
    background-color: rgb(255, 40, 40);
    display: inline-block;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
    border: 5px solid rgb(172, 7, 7);
    width: 40%;
    text-align: center;
}
h3{
    color: white;
    background-color: rgb(250, 98, 98);
    border-radius: 8px;
    padding: 5px;
    display: inline-block;
    width: 400px;
}
#div-tarefas{
    margin-top: 20px;
    background-color: white;
    color: black;
}